<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>ایجاد پست</title>
</head>
<body>

<h1>ایجاد پست جدید</h1>

<form action="/posts" method="POST">
  <div>
    <label>عنوان</label><br>
    <input name="title">
  </div>

  <div>
    <label>متن</label><br>
    <textarea name="content"></textarea>
  </div>

  <button type="submit">ثبت</button>
</form>

<br>
<a href="/">بازگشت</a>

</body>
</html>
